name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assemble

    - name: Upload Card Sample Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: Card Sample Debug APK
        path: CardSample/build/outputs/apk/debug/*.apk
        
    - name: Upload OpenPrism Debug AAR
      uses: actions/upload-artifact@v4
      with:
        name: OpenPrism Debug AAR
        path: OpenPrism/build/outputs/aar/*debug.aar
